/** Welcome to CSS */

/* This is the CSS file for the default theme. It is used to define the look and feel of your site. You can edit this file to change the look of your site. If you want to change the look of your site without changing this file, you can create a new theme. For more information, see the documentation for the theme system. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** LAYOUTS  */

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 40px;
}

/** MAIN LAYOUT  */
.header {
  margin-bottom: 40px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.vote-buttons {
  margin-left: auto;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
}
